.marcoPelis {
  gap: 3px;
  padding: 3px;
  padding-top: 10px;
}

.peli {
  max-width: 100vw;
  height: 288.9px;
  width: 192.6px;
  margin-bottom: 20px;
  border-radius: 10px;
  /* Ajusta el valor según sea necesario para redondear más o menos las esquinas */
  border: 2px solid #000;
  /* Ancho y color del borde */
  overflow: hidden;
}

.peli:hover {
  transform: scale(1.05);
  /* Cambia el tamaño de la imagen al pasar el ratón por encima (opcional) */
  transition: transform 0.3s ease;
  /* Agrega una transición suave (opcional) */
}

.containeraes {
  min-height: 100vh;
  padding: 1rem 7rem 1rem 7rem;
  width: 80vw;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.pp {
  color: #dee7e7;
}

.h1pub {
  padding: 15px;
  color: #dee7e7;
}

/* css de la pagination*/
/* Contenedor principal de la paginzao */
.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* Estilos para cada item de la pagination */
.pagination li {
  margin: 0 5px;
  font-size: 14px;
}

.pagination li a {
  border: 1px solid #ddd;
  padding: 6px 12px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 4px;
}

.pagination a:hover {
  color: #a92727 !important;
}

/* Estilos para los items activos (pag actual) */
.pagination li.active a {
  background-color: #2b2b2c;
  color: #ffffff;
  border-color: #c6d6d6;
}

/* (anterior/siguiente cuando no es posible la acción) */
.pagination li.disabled a {
  color: #000000;
}

/* Estilos para cuanndo se pasa el mouse arriba */

/* Estilos para el item 'break' (los puntos suspensivos) */
.pagination li.break a {
  border: 0;
  cursor: default;
}

/* 'anterior' y 'siguiente' */
.pagination li.previous a,
.pagination li.next a {
  color: #282832;
}

@media (max-width: 768px) {
  .pagination li a {
    padding: 3px 6px;
    font-size: 12px;
  }

  .peli {
    height: 173.34px;
    width: 115.56px;
  }
}

@media screen and (max-width: 1400px) {
  .peli {
    border-radius: 10px;
    /* Ajusta el valor según sea necesario para redondear más o menos las esquinas */
    border: 2px solid #000;
    /* Ancho y color del borde */
    overflow: hidden;
  }
}

@media screen and (max-width: 1280px) {
  .peli {
    margin-bottom: 20px;
    border-radius: 10px;
    /* Ajusta el valor según sea necesario para redondear más o menos las esquinas */
    border: 2px solid #000;
    /* Ancho y color del borde */
    overflow: hidden;
    height: 231.12px;
    width: 154.08px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 1066px) {
  .peli {
    height: 202.23px;
    width: 134.82px;
  }
}

@media screen and (max-width: 990px) {
  .col-md-2 {
    width: 25%;
  }
}

@media (max-width: 600px) {

  .peli {
    height: 144.45px;
    width: 96.3px;
  }
}