.marcoPelis {
  gap: 3px;
  padding: 3px;
  padding-top: 10px;
}

.peli {
  max-width: 100%;
  min-height: 20rem;
  margin-bottom: 20px;
  border-radius: 10px;
  /* Ajusta el valor según sea necesario para redondear más o menos las esquinas */
  border: 2px solid #000;
  /* Ancho y color del borde */
  overflow: hidden;
}

.peli:hover {
  transform: scale(1.05);
  /* Cambia el tamaño de la imagen al pasar el ratón por encima (opcional) */
  transition: transform 0.3s ease;
  /* Agrega una transición suave (opcional) */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.pp {
  color: #dee7e7;
}

.h1pub {
  padding: 15px;
  color: #dee7e7;
}

@media screen and (max-width: 1400px) {
  .peli {
    margin-bottom: 20px;
    border-radius: 10px;
    /* Ajusta el valor según sea necesario para redondear más o menos las esquinas */
    border: 2px solid #000;
    /* Ancho y color del borde */
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .peli {
    margin-bottom: 20px;
    border-radius: 10px;
    /* Ajusta el valor según sea necesario para redondear más o menos las esquinas */
    border: 2px solid #000;
    /* Ancho y color del borde */
    overflow: hidden;
  }
}

@media screen and (max-width: 990px) {
  .col-md-2 {
    width: 25%;
  }
}
