li {
  list-style: none;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
  position: relative;
  /* Establece un contexto de posicionamiento para el pie de página absoluto */
  background-color: #77181e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  /* Asumiendo que estás utilizando create-react-app */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Asegúrate de que el contenido se expanda para llenar el espacio disponible */
.content {
  flex: 1;
}

.logof {
  width: 300px;
  height: 66.6px;
}

.logot {
  width: 99.8px;
  height: 99.8px;
}

.footerr {
  background-color: #000;
  color: #ffffff;
  padding: 20px;
  border-top: 1px solid #000;
  margin-top: auto;
  /* Mantiene el footer en la parte inferior */
}