.navbar-area {
  left: 0;
  width: 100%;
  background-color: transparent;

  z-index: 999;
}

.main-content {
  margin-top: 80px;
}

a {
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.site-logo {
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav-toggler {
  border: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}

.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}

.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-2px) rotate(-45deg);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: #17d0d5;
  color: #fff;
  background-color: #17d0d5;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.submenu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.aSubmenu {
  font-size: 14px;
  color: #c6d6d6;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  padding: 5px;
  max-height: 400px;
  width: 15rem;
  overflow-y: auto;
  z-index: 2;
}

.logo {
  margin-top: 12px;
  width: 300px;
  height: 135px;
}

.space-between {
  justify-content: space-between;
}

.site-navbar ul li {
  position: relative;
}

.search-group {
  position: relative;
}

.search-input {
  padding-right: 30px;
  font-size: 16px;
  transition: width 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
  width: 0;
  overflow: hidden;
  background-color: transparent;
  border: none;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #10d68a;
  transition: color 0.3s ease;
}

.search-group:hover .search-input {
  width: 200px;
  padding-right: 10px;
  background-color: #000;
  border: 1px solid #10d68a;
  color: #fff;
  border-radius: 8px;
}

/* AAAAAAAAAAAAAAAH ISSIISISISISISISISISISISISISISISISISI COMO SABERTO*/
.search-input,
.search-button {
  user-select: none !important;
}




@media screen and (max-width: 1400px) {
  .logo {
    width: 270px;
    height: 121.5px;
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 240px;
    height: 108px;
  }
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 720px;
  }

  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }

  .site-navbar {
    min-height: 60px;
  }

  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0;
    top: 0px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    justify-content: center;
  }

  .submenu {
    visibility: hidden;
  }

  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }

  .site-navbar ul li a {
    padding: 25px;
  }

  .site-navbar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.295);
  }

  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .submenu-container {
    position: relative;
    width: 100%;
  }

  .submenu {
    max-height: none;
    /* Elimina la altura máxima en pantallas más pequeñas */
    top: 0;
    /* Puede variar según tus necesidades */
  }

  .logo {
    width: 210px;
    height: 94.5px;
  }
}

@media screen and (max-width: 540px) {
  .logo {
    width: 180px;
    height: 81px;
  }
}