.containerMovie {
  width: 100%;
  height: 80vh;
  background-color: #0b1a19;
}

.title {
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.desch4 {
  font-size: 0.9rem;
}

.videosl {
  margin-top: 50px;
}
