.containerGral {
  width: 100%;
  background-color: #0b1a19;
}

.title {
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.containerAlign {
  width: 50%;
}

.titleh3 {
  font-size: 45px;
}

.descp {
  font-size: 1rem;
  opacity: 0.7;
}

.containerMovie2 {
  width: 70%;
  margin-top: 15px;
}

.contenedor {
  width: 100%;
  /* Puedes ajustar el ancho según tus necesidades */
  /* Añade un borde para visualización */
  padding: 10px;
  /* Espaciado interno */
}

.informacion {
  color: #ffffff;
}

.portadaimg {
  height: 344px;
  width: 240px;
  border: 2px solid #10d68a;
  border-radius: 10px;
}

.info {
  width: 100%;
}

.infoMovie {
  width: 60%;
}